# Sets

## Creating Sets

### 1. Call the constructors

In [1]:
# Figure 1: Creating a frozenset from a tuple

digits = (3,1,4,1,5,9,2,6)
digit_set = frozenset(digits)
print(f"digit_set: {digit_set}")

digit_set: frozenset({1, 2, 3, 4, 5, 6, 9})

### 2. Use curly braces

In [2]:
# Figure 2: Creating a set using curly braces

inner_planets = {"Mercury","Venus", "Earth", "Mars"}
print("inner_planets:", inner_planets)

inner_planets: {'Venus', 'Earth', 'Mars', 'Mercury'}

### 3. Use set comprehension

In [3]:
# Figure 3: Using a set comprehension

first_squares = {nn**2 for nn in range(1,6)}
print(f"first_squares: {first_squares}")

first_squares: {1, 4, 9, 16, 25}

## Set Operations

### Checking Set Memberships

In [4]:
# Figure 4: Checking set membership

legal_ops = {"add", "and", "mul", "xor"}
print("div is legal:", "div" in legal_ops)
print("and is legal:", "and" in legal_ops)

div is legal: False
and is legal: True

In [5]:
# Figure 5: Checking an element is not in a set 

legal_ops = {"add", "and", "mul", "xor"}
print("You cannot div:", "div" not in legal_ops)

You cannot div: True

### Checking for overlap

In [20]:
# Figure 6: Checking that sets are disjoint

boston={"Red Sox", "Bruins", "Celtics", "Patriots"}
newyork={"Yankees", "Rangers", "Knicks", "Jets"}
print("There are no teams both cities support: ", boston.isdisjoint(newyork))

There are no teams both cities support:  True

`issubset()`

## Removing Duplicates

In [6]:
# Figure 10: Removing list duplicates using a set

birds_seen_1 = ["Robin", "Eagle", "Blue Jay"]
birds_seen_2 = ["Sparrow", "Eagle", "Crow"]
all_birds_seen = birds_seen_1 + birds_seen_2
print("Birds reported   : ", all_birds_seen)

# Convert to set and back to remove duplicates
all_birds_seen = list(set(all_birds_seen))
print("Unique birds seen: ", all_birds_seen)

Birds reported   :  ['Robin', 'Eagle', 'Blue Jay', 'Sparrow', 'Eagle', 'Crow']
Unique birds seen:  ['Blue Jay', 'Crow', 'Eagle', 'Sparrow', 'Robin']

In [8]:
birds_seen_1 = ["Robin", "Eagle", "Blue Jay"]
birds_seen_2 = ["Sparrow", "Eagle", "Crow"]
all_birds_seen = birds_seen_1 + birds_seen_2
print("Birds reported   : ", all_birds_seen)

# Convert to set and back to remove duplicates
all_birds_seen = list(set(all_birds_seen))
print("Unique birds seen: ", all_birds_seen)

Birds reported   :  ['Robin', 'Eagle', 'Blue Jay', 'Sparrow', 'Eagle', 'Crow']
Unique birds seen:  ['Sparrow', 'Robin', 'Eagle', 'Crow', 'Blue Jay']